.page-user {
    margin-left: 150px;
}

.page-user h1 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    font-size: 36px;

    color: #fff;
}

.page-user h2 {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
    font-size: 24px;

    color: #fff;

    
}

.stats {
    margin-bottom: 30px;

    width: 1132px;
    height: 303px;

    background: var(--paper);

    display: flex;
    align-items: center;
    justify-content: space-around;
}